{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info mt-3" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="/new-post">
    <input type="submit" value="Add New Post" />

</form>

{% for post in posts %}


<div>
   <h2>{{ post.title }}</h2>
   <p>{{ post.pub_date.strftime('%Y-%m-%d') }}</p>
   <p>
       {{ post.body}}
   </p>
</div>

{% endfor %}
{% endblock %}